<div style="padding-right: 100px; padding-left: 100px;">
    <h2>contact</h2>
<p>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
<div class="contacto" style=" width:600px; margin: auto; padding: 30px; background-color: rgb(239, 242, 245);">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">your E-mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="your email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">your message</label>
     <div class="form-group">
            
            <textarea class="form-control" id="message-text" placeholder=" please enter your message here"></textarea>
          </div>
    
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button style="float: right;" type="submit" class="btn btn-primary">submit</button>
    </div>
  </div>
</form>
</div>
</div>

