<!-- your html code here -->
<div style="background-color: white;">
    <div class="row">
        <div class="col-8">
            <h1 class="text-dark font-weight-bold mt-5 pl-5">
                The First Heading 
                <span class="text-secondary">Will Catch Your Eye</span>
            </h1>
        <h5 class="text-justify pl-5 pr-5 font-weight-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus quisquam corrupti 
            neque veritatis nostrum cumque quod velit sint error aut cum, possimus, deserunt rerum provident, 
            dolores recusandae incidunt ex?
        </h5>
        </div>
        <div class="col-4 mt-5 mb-5">
            <img src="../website1/assets/img/1.jpg"
                weight="300px" height="300px" style="border-radius: 200px">
        </div>
    </div>
</div>