<!-- your html code here -->
<!-- Navigation -->

<h1>
    Portfolio
</h1>

<div class="container">
    <p>
        Donect ullamcorper nulla non metus auctor fringilla. Vestibull id ligula porta felis euismod smper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>

        <div class="card-group" style="display: flex;" >
             <div class="card" style="width: 400px; height: 700px;">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/831/111/small_2x/blue-metallic-diagonal-tech-background.jpg"  class="card-img-top" class="col-md-4">
                <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum quidem sequi rerum aspernatur laboriosam aliquid placeat et veniam illum quae..</p>
                </div>
            </div>
            
            <div class="card" style="width: 400px; height: 700px;">
                 <img src="https://static.vecteezy.com/system/resources/thumbnails/000/833/532/small_2x/abstract-gray-v-shape-innovative-background.jpg" class="card-img-top" class="col-md-4">
                <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem libero tempore ullam, numquam cumque deserunt dolor modi porro! Alias, earum?</p>
                </div>
            </div>
            
            <div class="card" style="width: 400px; height: 700px;">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/833/521/small_2x/dark-grey-background-with-asymmetrical-layers.jpg" class="card-img-top" class="col-md-4">
                <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet consequatur reprehenderit modi laborum eos nihil voluptatibus cumque suscipit minima blanditiis.</p>
                <div class="card-footer"></div>
                </div>
            </div>
        </div>
</div>


